# Ignore everything in the data folder
/data/*

# Except .gitkeep
!/data/.gitkeep

# Ignore IDE specific files
.idea/

venv/
src/backend/my_secrets.py

__pycache__

notebooks/data/
src/backend/results/
docs/internal_docs/