
# Data configuration
data:
  path: "data/Wildfire_Dataset.csv"
  features:
    - "pr"
    - "rmax"
    - "rmin"
    - "sph"
    - "srad"
    - "tmmn"
    - "tmmx"
    - "vs"
    - "bi"
    - "fm100"
    - "fm1000"
    - "erc"
    - "etr"
    - "pet"
    - "vpd"
  split_ratios:
    train: 0.8
    val: 0.1
    test: 0.1
  window_size: 30

# Model configuration
model:
  name: "Transformer"
  params:
    d_model: 32
    nhead: 4
    num_layers: 2
    dim_feedforward: 512
    dropout: 0.1
  threshold: 0.01

# Training configuration
training:
  batch_size: 32
  epochs: 1
  max_steps_per_epoch: 1000
  learning_rate: 0.001
  loss_function: "BCE"
  optimizer: "Adam"
  tune_threshold: True  # If True, tunes threshold on validation set based on F1 score after training
  metrics:
    - "Precision"
    - "Recall"
    - "F1Score"

# System configuration
system:
  log_dir: "src/backend/logs/"
  checkpoint_path: "src/backend/checkpoints/best_model.pt"
  verbose: True
